<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    
    <property name="logback.logdir" value="./log" />
    <property name="logback.appname" value="mylog" />
    <appender
    name="fileInfoLog"
    class="ch.qos.logback.core.rolling.RollingFileAppender"
  >
    <File>${logback.logdir}/info.log</File>
    <!-- 滾動日誌，按照時間滾動 TimeBasedRollingPolicy -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    <!-- 文件路徑,定義日誌一天產生一筆 相關屬性可以在參閱文件做設定 -->
    <FileNamePattern>${logback.logdir}/info.log.%d{yyyy-MM-dd}.log</FileNamePattern>
    <!-- 設定保留日誌天數 -->
    <maxHistory>30</maxHistory>
    <!-- 設定日誌的容量上限,超過則會清除 -->
    <!-- <totalSizeCap>1GB</totalSizeCap> -->
    </rollingPolicy>
    <!-- 日誌輸出的編碼方式 ,中文就使用UTF8 -->
    <encoder>
    <charset>UTF-8</charset>
    <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
    </encoder>
    </appender>
    <appender
    name="fileErrorLog"
    class="ch.qos.logback.core.rolling.RollingFileAppender"
  >
    <!--
    過濾器，默認為 info 级别的，ThresholdFilter
    -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    <level>Error</level>
    </filter>
    <!--日誌名稱-->
    <File>${logback.logdir}/error.${logback.appname}.log</File>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    
    <FileNamePattern>
    ${logback.logdir}/error.${logback.appname}.%d{yyyy-MM-dd}.log
    </FileNamePattern>
    
    <maxHistory>90</maxHistory>
    
    </rollingPolicy>
    <!-- 日誌輸出編碼 -->
    <encoder>
    <charset>UTF-8</charset>
    <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
    </encoder>
    </appender>
    <root level="info">
    <appender-ref ref="fileInfoLog" />
    <appender-ref ref="fileErrorLog" />
    </root>
</configuration>
<!-- 參考資料：
  https://ithelp.ithome.com.tw/articles/10195479 -->